{
  "root": true,
  "parser": "babel-eslint",
  "extends": ["standard", "standard-react", "plugin:import/errors"],
  "env": {
    "browser": true,
    "node": true,
    "es6": true,
  },

  "rules": {
    "comma-dangle": ["error", "only-multiline"],
    "no-multiple-empty-lines": ["error", {"max": 3}],
    "no-unused-vars": "warn",
    "react/jsx-boolean-value": "off",
  },
  "plugins": ["import"],
  "globals": {
    "__DEV__": true
  }
}
